RewriteEngine on
RewriteBase /

# invoke index.php for commands, excluding downloads and direct file access
RewriteCond %{QUERY_STRING} !^download$
RewriteCond %{QUERY_STRING} . [OR]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.php [L]

# set content-disposition header for downloads
RewriteCond %{QUERY_STRING} ^download$
RewriteRule . - [env=DOWNLOAD:1]
Header set Content-Disposition attachment env=DOWNLOAD

AddType application/zip .zip
AddType audio/x-aiff .aiff
AddType video/mp4 .m4v .mp4
